.Rproj.user
.Rhistory
.RData
.Ruserdata
BAE204_LabReport10_answers.Rmd
BAE204_LabReport10_answers.html
prepare-Ohio-data.R
exploratory-code.R
BAE204_LabReportt11-Homework7_Birgand.*
BAE204_LabReportt11-Homework7_Birgand_short.*